body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  